@media screen and (max-width: 576px) {
    /* common styles  */
    .banner, 
    .run-container,
    .footer-contents{
        flex-direction: column;
    }

    h2{
        font-size: 34px;
        
    }
    section{
        padding-top: 50px;
    }

    .description{
        font-size: 14px;
    }

    br{
        display: none;
    }


    /* header section  */
    .nav-options{
        display: none;
        
    }
    .menu-bar{
        display: Block;

    }
    .banner{
        justify-content: space-between;
        align-items: start;
    }
    .banner-title{
        font-size: 48px;
    }
    .club{
        display: none;
    }
    .button{
        display: flex;
        gap: 14px;
        justify-content: center;
    }
    .header-btn{
        padding: 12px 24px;
    }

    .banner-cards-content-1 {
        position: absolute;
        top: 52px;
        left: 180px;
    }
    .banner-cards-content-2 {
        position: absolute;
        bottom: 238px;
        right: 188px;
    }

    .b-cards-1{ 
        font-size: 28px;
    }
    .b-cards-2{
        font-size: 18px;
    }
    .banner-cards p{
        font-size: 10px;
    }
    .banner-cards{
        max-width: 160px;
        padding: 10px;
        align-items: center;
        justify-content: space-evenly;
    }

    /* main section  */

    /* HABIT SECTIONS  */
    .habits-content{
        grid-template-columns: 1fr;
        gap: 50px;
    }



    /* run an extra mile easily sections  */
    .run-container{
        margin-top: 50px;
        gap: 31px;
    }
    
    .run-content{
        width: 100%;
    }
    .run-content p{
        width: 100%;
    }
    
    
    .run-content img{
        width: 100%;
        border-radius: 18px;
    }

    /* challenges sections */
    /* bmi calculator  */

    .bmi-heading{
        padding-bottom: 44px;
        width: 100%;
        padding-left: 44px;
    }
    .bmi-heading p > br{
        display: block;
    }

    
    .bmi-content{
        grid-template-columns: 1fr ;
        column-span: 1;
        gap: 48px;
    }
    
    .bmi-title{
    font-size: 16px;
    }
    #bmi-description{
        margin-top: 8px;
    }
    
    table{
        margin-top: 24px;
    }
    .form-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }
    input, select{
        padding: 12px 4px;
    }
    .activity-factor{
        grid-column: 1fr ;
        padding: 12px;
    }
    

    /* our teams sections  */ 
    .team-members{
        grid-template-columns: 1fr;
        margin-top: 37px;
        
    }
    .members img{
        height: 272px;
    }


    /* service section  */
    

    .service-header{
        margin-bottom: 50px;
    } 
    .service-card-container{
        grid-template-columns: 1fr;
        gap: 25px;
        margin: 0 30px;
    }
    
    .service-card{
        padding: 18px; 
    }

    .service-title{
        font-size: 18px;
    }


    /* footer */
    .footer-contents{
        gap: 30px;
    }
    .footer-contents p >br{
        display: none;
    }
    hr{
        margin-top: 72px;
    }
}